{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="auth-container">
        <div class="login-form">
            <h2>Login</h2>
            <input type="text" id="username_l" placeholder="Username" required>
            <input type="password" id="password_l" placeholder="Password" required>
            <button onclick="login()">Login</button>
        </div>
        
        <div class="register-form">
            <h2>Register</h2>
            <input type="text" id="username_r" placeholder="Username" required>
            <!-- <input type="email" id="email" placeholder="Email" required> -->
            <input type="password" id="password_r" placeholder="Password" required>
            <button onclick="register()">Register</button>
        </div>
    </div>
</div>
{% endblock %}